body {

   background-color: #010c07;
   color: #000000;
   margin: 0%;

}



#container1 {

   display: flex;
   position: absolute;
   top: 8%;

   width: 100%;
   height: 700px;
   min-height: 700px;


   align-items: center;
   text-align: center;

  /* border: 1px solid rgb(175, 199, 173);   */
   flex-direction: column;
   margin-left: 0%;

}




#div-container-flex {


   display: flex;
   flex-direction: column;

   position: absolute;
   top: 0px;

   height: auto;
   width: auto;

   text-align: center;
   align-items: center;

  /* border: 1px solid rgb(247, 44, 105);   */


}



@font-face {
   font-family: "mercosul";
   src: url("./GlNummernschildEng-5m3V.otf");
}


#Label1 {

   display: flex;

   position: absolute;
   top: 22px;


   font-size: 240%;
   color: #000000;
   letter-spacing: 5px;


   font-weight: normal;
   font-family: mercosul;

 /*  border: 1px solid rgb(56, 243, 165);   */
   z-index: 2;


}

#imagem1 {

   display: flex;


   width: 200PX;
   height: auto;


   z-index: 1;

}



#Label2 {


   position: absolute;
   top: 170px;



   font-size: 80%;
   color: #00ff0d;


  /* border: 1px solid rgb(56, 243, 165);  */
   z-index: 3;


}


#Label3 {

   position: absolute;
   top: 280px;

   font-size: 80%;
   color: #ffffff;

  /* border: 1px solid rgb(56, 243, 165);   */
   z-index: 3;

}



#Label4 {

   position: absolute;
   top: 300px;

   font-size: 150%;
   color: #fbff07;
   letter-spacing: 3px;

  /* border: 1px solid rgb(255, 255, 255);   */
   z-index: 3;

}



#Label5 {

   position: absolute;
   top: 350px;

   font-size: 200%;
   color: #ff5639;
   letter-spacing: 5px;

  /* border: 1px solid rgb(255, 255, 255);   */
   z-index: 3;

}





#Button1 {


   position: absolute;
   top: 530px;
   width: 100px;

   border: 10px solid #787b7e; 

   background-color: #787b7e;

   color: #FFFFFF;

   font-family: Arial;
   font-weight: normal;
   font-size: 100%;
   margin: 0;
}


#Button2 {

   position: absolute;
   top: 600px;
   width: 100px;

   border: 10px solid #787b7e;

   background-color: #787b7e;

   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 100%;
   margin: 0;

}


#Button3 {

   position: absolute;
   top: 650px;
   width: 100px;

   border: 10px solid #787b7e;

   background-color: #787b7e;

   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 100%;
   margin: 0;

}